<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qingmang">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        tools:replace="android:icon, android:theme,allowBackup"
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".serviceIntroduce.ServiceIntroduceActivity" />
        <activity android:name=".user.LoginActivity" />
        <activity android:name=".user.RegisterActivity" />
        <activity android:name=".user.ForgetPasswdActivity" />
        <activity android:name=".serviceIntroduce.OrderSureActivity" />
        <activity android:name=".serviceIntroduce.AddressListActivity" />
        <activity android:name=".serviceIntroduce.InvoiceChooseActivity" />
        <activity android:name=".serviceIntroduce.AddAddressActivity" />
        <activity android:name=".serviceIntroduce.InvoiceSettingActivity" />
        <activity android:name=".user.AuthCompanyActivity" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".serviceIntroduce.HotMessageActivity" />
        <activity android:name=".user.SettingActivity"></activity>
        <!--&lt;!&ndash; 适配Android7.0 APP更新问题 &ndash;&gt;-->
        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="com.yuedaren.fileprovider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->

            <!--&lt;!&ndash; 元数据 &ndash;&gt;-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/file_paths" />-->
        <!--</provider>-->
    </application>

</manifest>